<section class="hero-main">
  <div class="container">
    <h1 class="title">
      <%= @shop.title%>
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @shop, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @shop.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>場所</th>
                </tr>
                <tr>
                  <td><%= @shop.shop_address %></td>
                </tr>
                <tr>
                  <th>詳細</th>
                </tr>
                <tr>
                  <td><%= simple_format @shop.body %></td>
                </tr>
              </table>
              <% if @shop.user.id == current_user.id %>
                <%= link_to "編集", edit_shop_path(@shop), class: "button is-main" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @shop.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @shop.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@shop.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @shop.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>