<!DOCTYPE html>
<html>
  <head>
    <title>Loopgram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/94745a7972.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <% if user_signed_in? %>
     <nav class="navbar">
      <div class="navbar-brand">
        <%= link_to shops_path, class: "navbar-item" do %>
          <h1 class="title p-5" style="font-family: cursive;">loopgram</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to "新規投稿", new_shop_path, class: "button is-main" %>
            </p>
            <p class="controll">
              <%= link_to "投稿一覧", shops_path, class: "button is-main" %>
            </p>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ユーザー", users_path, class: "button is-main" %>
              </p>
              <p class="control">
                <%= link_to "マイページ", user_path(current_user), class: "button is-main" %>
              </p>
              <p class="control">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-main" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </nav>
    <%= yield %>
  </body>
</html>

